/* -------- ROOT / BASE STYLES FOR SITE -------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    /* font sizes */
    --fs-1: clamp(2.6rem, 4.6vw + 1rem, 7rem);
    --fs-2: clamp(1.2rem, 2vw + 1rem, 2rem);
    --fs-3: clamp(1.1rem, 1.2vw + 1rem, 1.7rem);
    --fs-4: clamp(1rem, 1.3vw + 1rem, 1.6rem);
    --fs-p: clamp(0.8rem, 1vw + 0.4rem, 1.3rem);
    --fs-xs: clamp(0.8rem, 1vw + 0.4rem, 1.1rem);


    /* colours */
    --clr-white: rgb(255, 255, 255);
    --clr-babypowder: rgb(254, 252, 246);
    --clr-eggshell: rgb(232, 232, 216);
    --clr-yelloworange: rgb(247, 147, 30);
    --cl-chestnut: rgb(162, 81, 64);
    --clr-frenchblue: rgb(26, 117, 188);
    --clr-black: rgb(0, 0, 0);

    /* spacing */
    --body-padding: clamp(0.9rem, 2vw, 2rem) clamp(1rem, 2vw, 3rem);
    --row-items-gap: clamp(0.625rem, 2vw, 1.25rem);
    --col-items-mt: clamp(0.625rem, 2vw, 1.25rem);
    --items-paddings: clamp(0.875rem, 2vw, 2rem) clamp(0.625rem, 2vw, 2.25rem);
    --btn-padding-main: 0.6em 0.8em;
    --btn-width-main: clamp(7rem, 10vw, 10rem);

    /* sizing */
    --lg-img-width: clamp(200px, 40vw, 400px);
    --md-img-width: clamp(100px, 30vw, 300px);
    --sm-img-width: clamp(50px, 25vw, 200px);
    --item-img-width: clamp(100px, 30vw, 280px);
}

/* GLOBAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: fit-content;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

/* UTILITY CLASSES */
.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
form input:not(.btn),
textarea,
::placeholder {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3 {
    line-height: 1.5;
}

h1 {
    font-size: var(--fs-1);
    font-weight: 700;
}

h2 {
    font-size: var(--fs-2);
    font-weight: 600;
}

h3 {
    font-size: var(--fs-3);
}

h4 {
    font-size: var(--fs-4);
}

p {
    font-size: var(--fs-p);
}

/* BUTTONS */
.btn {
    display: inline-flex;
    justify-content: center;
    width: var(--btn-width-main);
    padding: var(--btn-padding-main);
    /* margin: 1.5rem 0; */
    font-size: var(--fs-xs);
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid var(--clr-yelloworange);
    border-radius: 3px;
}

.btn::before,
.btn::after {
    content: "";
    display: inline-block;
    width: 2em;
    flex-basis: 2em;
}

.btn:hover {
    transition: ease-in-out 0.5s;
    box-shadow: inset 0px -300px 0px 0px var(--clr-yelloworange);
    color: #FFF;
  }
  
  .btn:active {
    border-color: var(--clr-frenchblue);
  }

/* LISTS */
ul {
    padding: var(--body-padding);
    font-size: var(--fs-p);
}


